body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #eee;
}

div.listing h2 {
  font-size: 1.5rem;
}

.listing h3 {
  font-size: 1.25rem;
}

#listings div.host img {
  border-radius: 50%;
  width: 70px;
}

div.host > img {
  border-radius: 5px;
}

.listing .amenities {
  max-height: 200px;
  overflow: scroll;
}
#lintings .listing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
